h1 {
  font-family: IvarSoft, serif;
}

h2 {
  font-weight: 600;
  text-align: left;
  font-size: 1.8rem;
  font-family: IvarSoft, serif;
}

h3 > a {
  color: var(--color-text);
  font-size: 1.25rem;
}

a {
  font-size: 0.875rem;
}

header p,
header h1,
header h3,
header img {
  text-align: center;
}

nav > a {
  font-size: 2rem;
  text-decoration: none;
  font-family: IvarSoft, serif;
}

article {
  margin: 20px 0;
}

section#speakers section > div > a {
  text-decoration: none;
}

aside {
  width: 20%;
  text-align: center;
}

/* Speakers page  */
#speaker header {
  text-align: center;
}

#speaker header img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
