h1 {
  font-family: IvarSoft, serif;
}

h2 {
  font-weight: 600;
  text-align: left;
  font-size: 1.8rem;
  font-family: IvarSoft, serif;
}

h3 > a {
  color: var(--color-text);
  font-size: 1.25rem;
}

a {
  font-size: 0.875rem;
}

header p,
header h1,
header h2,
header h3,
header img {
  text-align: center;
}

nav > a {
  font-size: 2rem;
  text-decoration: none;
  font-family: IvarSoft, serif;
}

article {
  margin: 40px 0;
}

blockquote {
  margin: 0;
}

aside {
  width: 20%;
  text-align: center;
}

sup.LIGHTNING {
  background-color: rgb(227, 247, 126);
  color: rgb(14, 16, 22);
}

sup.CONFERENCE {
  background-color: rgb(188, 134, 254);
  color: rgb(42, 15, 57);
}

sup.ROUND_TABLE {
  background-color: rgb(217, 228, 252);
  color: rgb(74, 94, 130);
}

sup.WORKSHOP {
  background-color: rgb(251, 224, 177);
  color: rgb(120, 90, 17);
}

/* Homepage */
body#homepage .talk-speaker {
  width: 48px;
}

body#homepage .talk-speaker img {
  border-radius: 50%;
}

body#homepage #talks {
  display: block;
}

body#homepage #talks article > header {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

body#homepage #talks article > header h3 {
  text-align: left;
}

body#homepage #talks article > header a.add-to-favorite {
  cursor: pointer;
}

body#homepage #talks article > header a.add-to-favorite i,
body#homepage #talks article > header a.add-to-favorite b {
  font-style: normal;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  body#homepage #talks article > header a.add-to-favorite i span,
  body#homepage #talks article > header a.add-to-favorite b span {
    display: none;
  }
}

section#speakers section > div > a {
  text-decoration: none;
}

/* Speaker page  */
body#speaker header {
  text-align: center;
}

body#speaker header img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

/* Talk page  */
body#talk header {
  text-align: center;
}

iframe {
  width: 100%;
  height: 700px;
  border-width: 0;
}
